* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  scroll-padding: 2.5rem; }

body {
  height: 100vh; }

.selector-nav {
  position: fixed;
  padding: .3rem;
  background-color: rgba(220, 220, 220, 0.685);
  display: flex;
  border-radius: .2rem 0rem 0rem .2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin-top: 10rem;
  left: 98.5%;
  box-shadow: 0.3rem 0rem 1rem rgba(0, 0, 0, 0.514); }
  .selector-nav .non__nav__idx {
    list-style: none; }
    .selector-nav .non__nav__idx .txt__nav__idx {
      font-family: "lato";
      font-weight: bold;
      font-style: normal;
      color: rgba(39, 39, 39, 0.774);
      text-decoration: none; }
      .selector-nav .non__nav__idx .txt__nav__idx:hover {
        color: black; }

/*Section 1*/
.bg {
  background-color: black; }
  .bg .txt_cont {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 15rem; }
    @media screen and (min-width: 540px) {
      .bg .txt_cont {
        height: 30rem; } }
  .bg h2 {
    font-size: 9vw;
    font-family: "lato";
    font-weight: lighter;
    color: white;
    justify-self: start;
    margin-left: 1rem; }
  .bg .waves-container {
    display: flex;
    flex-direction: column; }
  .bg .svg-2 {
    position: absolute;
    filter: drop-shadow(0 -0.2rem 0.08rem rgba(0, 0, 0, 0.459));
    transform: translate(0rem, 0.7rem); }

/*Section 2*/
.bg-2 {
  background-color: white;
  display: flex;
  flex-direction: column; }
  .bg-2 .nav-1, .bg-2 .nav-2, .bg-2 .nav-3, .bg-2 .nav-4, .bg-2 .nav-5 {
    font-size: 10vw;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: nowrap;
    font-family: "lato";
    font-weight: bolder;
    text-decoration: none;
    color: rgba(39, 39, 39, 0.774);
    margin-left: 1rem;
    transition: all 0.3s; }
  .bg-2 .nav-1:hover, .bg-2 .nav-2:hover, .bg-2 .nav-3:hover, .bg-2 .nav-4:hover, .bg-2 .nav-5:hover {
    color: black; }
  .bg-2 .svg-1_section-2 {
    position: absolute;
    filter: drop-shadow(0 -0.2rem 0.08rem rgba(0, 0, 0, 0.459)); }
  .bg-2 .svg-2_section-2 {
    z-index: 1;
    transform: translate(0rem, 0.5rem); }

/*Section 3*/
.bg-3 {
  background-color: black; }
  .bg-3 .title_bg-3 {
    font-size: 8vw;
    display: inline-block;
    font-family: "lato";
    font-weight: bolder;
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    text-decoration: underline 0.5vw #43F7AB; }
  .bg-3 .container-section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .bg-3 .container-section-3 .container-logo {
      display: flex;
      gap: 0.8rem;
      transform: translate(0rem, -3rem); }
      .bg-3 .container-section-3 .container-logo .prop__img__logo__s3 {
        width: 14vw; }
    .bg-3 .container-section-3 .container-logo-2 {
      display: flex;
      gap: 0.8rem; }
      .bg-3 .container-section-3 .container-logo-2 .prop__img__logo-2__s3 {
        width: 14vw; }
    .bg-3 .container-section-3 .svg-2__section-3 {
      transform: translate(0rem, -2rem); }
  .bg-3 .waves-container-s3 {
    display: flex;
    flex-direction: column;
    transform: translate(0rem, -6rem); }
    .bg-3 .waves-container-s3 .svg-2-s3 {
      filter: drop-shadow(0 -0.2rem 0.08rem rgba(0, 0, 0, 0.459));
      position: absolute;
      z-index: 1;
      transform: translate(0rem, 0.5rem); }

.bg-4 {
  position: relative;
  bottom: 7rem;
  background-color: white; }
  .bg-4 .container__proyects__S4 {
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /*Texto Titulos*/ }
    .bg-4 .container__proyects__S4 .title__princ__proyects__S4 {
      color: black;
      font-family: "lato";
      font-weight: bolder;
      text-decoration: underline #43F7AB;
      font-size: 7vw; }
    .bg-4 .container__proyects__S4 .title__sec__proyects__S4 {
      font-family: "lato";
      font-size: 8vw;
      font-style: italic;
      font-weight: lighter; }
  .bg-4 .container_proyectos__proyectos__S4 {
    display: flex;
    align-items: center; }
    .bg-4 .container_proyectos__proyectos__S4 .corchete-2__s4, .bg-4 .container_proyectos__proyectos__S4 .pyc-1__s4 {
      width: 5vw;
      transform: rotate(180deg); }
      @media screen and (min-width: 768px) {
        .bg-4 .container_proyectos__proyectos__S4 .corchete-2__s4, .bg-4 .container_proyectos__proyectos__S4 .pyc-1__s4 {
          width: 3vw; } }
    .bg-4 .container_proyectos__proyectos__S4 .pyc-1__s4 {
      transform: none;
      margin-left: .3rem; }
    .bg-4 .container_proyectos__proyectos__S4 .img-1__s4 {
      margin: .3rem;
      width: 23vw;
      border-radius: .3rem; }
