*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 2rem;
    @media screen and (max-width:540px) {
        scroll-padding: 4rem;
    }
}

@import "utilities/mixins";
@import "utilities/variables";

@import "views/index";

