*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 2.5rem;
}

@import "utilities/mixins";
@import "utilities/variables";

@import "views/index";